In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame([[1, 2, 3], [2, 5, 6], [7, 8, 9]], columns=["A", "B", "C"])

In [22]:
df2 = pd.DataFrame([[5, 5, 78], [56, 2, 56], [12, 8, 56]], columns=["X", "Y", "Z"])

In [23]:
print(df1)

   A  B  C
0  1  2  3
1  2  5  6
2  7  8  9

In [24]:
print(df2)

    X  Y   Z
0   5  5  78
1  56  2  56
2  12  8  56

In [25]:
pd.merge(df1, df2, right_on="Y", left_on="B")

   A  B  C   X  Y   Z
0  1  2  3  56  2  56
1  2  5  6   5  5  78
2  7  8  9  12  8  56